* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "Roboto", "Arial", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.pad-sides {
  padding-left: 200px;
  padding-right: 200px;
}

header {
  padding-top: 20px;
  background-color: #1f2937;
}

header > div {
  margin-bottom: 100px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  gap: 16px;
}

.navbar .logo {
  height: 40px;
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.hero {
  display: flex;
  align-items: center;
  gap: 64px;
}

.hero > div {
  flex: 1;
}

.hero .left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero .left h1 {
  margin: 0;
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.hero .left p {
  margin: 0;
  font-size: 18px;
  color: #e5e7eb;
}

.hero .left button {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  padding: 10px 40px;
  align-self: flex-start;
}

.hero .right .placeholder {
  background-color: #777;
  color: #ddd;
  flex-shrink: 0;
  height: 250px;
  width: 500px;
}

.content {
  flex: 1;
}

.info {
  padding-top: 50px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.info h1 {
  margin: 0;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.media-list {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.media-item {
  width: 170px;
}

.media-item .image {
  border: 5px solid #3882F6;
  border-radius: 15px;
  height: 170px;
  width: 170px;
}

.media-item .caption {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  color: hsl(220, 13%, 50%);
}

.quote {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #e5e7eb;
}

.quote-container {
  max-width: 790px;
}

.quote-text {
  margin-bottom: 20px;
  color: #1F2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
}

.quote-author {
  margin: 0;
  padding: 0 20px;
  text-align: right;
  font-size: 24px;
  color: #1f2937;
  font-weight: 900;
}

.call {
  padding-top: 100px;
  padding-bottom: 100px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #1f2937;
  font-size: 18px;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}